<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
        <meta name="description" content="A website to see skies and stars you've missed due to PGH weather">
        <meta name="keywords" content="NASA, stars, sky photos">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>tic tac toe</title>


		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
    <body>


		<script type="text/javascript" src="js/main.js"></script>
    </body>