<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
        <meta name="description" content="A website to see skies and stars you've missed due to PGH weather">
        <meta name="keywords" content="NASA, stars, sky photos">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>tic tac toe</title>


		<!-- external CSS link -->
		<!-- <link rel="stylesheet" href="../public/normalize.css"> -->
		<link rel="stylesheet" href="../public/style.css" >
	</head>
    <body>
        <header>
            <h1>tic tac toe</h1>
        </header>
        <section class = "container">
            <div id="1" class = "box">
                <span>1</span>
            </div>

            <div id="2" class = "box"> 
                <span>2</span>
            </div>

            <div id="3" class = "box">
                <span>3</span>
            </div>

            <div id="4" class = "box">
                <span>4</span>
            </div>

            <div id="5" class = "box">
                <span>5</span>
            </div>

            <div id="6" class = "box">
                <span>6</span>
            </div>

            <div id="7" class = "box">
                <span>7</span>
            </div>

            <div id="8" class = "box">
                <span>8</span>
            </div>

            <div id="9" class = "box">
                <span>9</span>
            </div>


        </section>


		<script type="text/javascript" src="js/main.js"></script>
    </body>